/* Assembly Editing Exit Dialog Styles */

.assembly-exit-dialog {
  max-width: 420px;
  width: 90vw;
}

.assembly-exit-dialog .modal-body p {
  margin: 0 0 0.75rem;
  line-height: 1.5;
}

.assembly-exit-dialog .modal-body p:last-child {
  margin-bottom: 0;
}

.assembly-exit-dialog .exit-question {
  color: var(--color-text-secondary);
}

.exit-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.exit-actions .btn-ghost {
  margin-right: auto;
}
